/* General */

html,
body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}
.title-text {
    font-family: "Muli";
}
.mdl-layout__drawer-button {
    color: rgba(255, 255, 255, 0);
}
.hidden {
    display: none;
}

/* App drawer */

.mdl-layout-title {
    color: rgb(255, 255, 255);
    background-color: rgb(33, 150, 243);
}
.map-style-flex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.about-link {
    cursor: pointer;
}
.map-style-title {
    width: 50px;
    padding-top: 5px;
}
.map-style {
    flex: auto;
    min-width: 50px;
}

/* Search box */

.search-box {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}
.loader {
    width: 100%;
}
.bufferbar {
    background-color: #e91e63 !important;
    background-image: linear-gradient(to right, rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), linear-gradient(to right, rgb(83, 109, 254), rgb(83, 109, 254)) !important;
}
.progressbar {
    background-color: rgb(33, 150, 243) !important;
}
.auxbar {
    background-color: #e91e63 !important;
}
.controls {
    border-style: none;
    outline-style: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 42px;
    /*box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);*/
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
#location-search {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 4px 0 0;
    text-overflow: ellipsis;
    border-style: none;
    outline-style: none;
    line-height: 40px;
    -webkit-flex: auto;
    flex: auto;
}
.not-found {
    color: rgba(180, 16, 16, 0.87);
}
.divider {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.12);
    font-weight: 800;
    padding-top: 10px;
}
.search-icon {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 18px;
}

/*Map*/

.map-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}
.smes-map {
    height: 100vh;
    width: 100vw;
}
.map-center {
    position: absolute;
    top: calc((100vh / 2) - 50px);
    left: calc((100vw / 2) - 20px);
    height: 40px;
    width: 40px;
}

/* Zoom message */

.zoom-in-message {
    position: absolute;
    bottom: 30px;
    left: 10px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.75);
    border: solid 1px rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(108, 107, 107, 0.7);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
}
.zoom-in-message-text {
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
}

/* Error messages */

.error-message {
    position: absolute;
    top: 105px;
    left: 12px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.75);
    border: solid 1px rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(108, 107, 107, 0.7);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
.error-message-text {
    font-size: 12px;
    font-weight: 400;
    color: rgba(193, 15, 15, 1);
}

/* Overlay */

.overlay {
    display: block;
    background: rgba(242, 245, 248, 0.5);
    border: solid 1px rgba(242, 245, 248, 0.5);
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(108, 107, 107, 0.5);
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}
.overlay-text {
    color: rgba(0, 0, 0, 0.95);
    text-align: center;
    z-index: 1;
}
.location {
    position: absolute;
    background: rgba(242, 245, 248, 0.8);
    border: solid 1px rgba(242, 245, 248, 0.7);
    border-radius: 1px;
    box-shadow: 1px 1px 2px rgba(108, 107, 107, 0.7);
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    height: 40px;
    width: 40px;
    top: 10px;
    right: 10px;
    color: rgba(0, 0, 0, 0.95);
}

/*Infobox*/

.infobox-wrapper {
    display: none;
}
.infobox {
    min-width: 400px;
    max-width: 100vw;
}
.mdl-card {
    z-index: 15;
}
.mdl-card__title {
    display: block;
    background-color: rgb(33, 150, 243);
}
.close-button {
    position: absolute;
    right: 5px;
    top: 15px;
}
.card-content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.card-left {
    width: 150px;
}
.card-value {
    -webkit-flex: auto;
    flex: auto;
}
.info-window-header {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.section__circle-container {
    width: 64px;
    height: 64px;
    flex: none;
    margin-top: 5px;
    margin-right: 5px;
}
.section__circle-container > .section__circle-container__circle {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    margin: 0;
    position: absolute;
    z-index: 200;
}
.info-symbol {
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 13px;
    height: 30px;
    width: 30px;
    z-index: 200;
    position: absolute;
}
.section__circle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 0;
    flex-shrink: 1;
    margin-right: 24px;
}
.card-symbol {
    background-color: #E3F2FD;
}
.section__text {
    -webkit-flex: auto;
    flex: auto;
    padding-top: 8px;
}
.symbol-name {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.header-text {
    font-family: "Muli";
    -webkit-flex: auto;
    flex: auto;
}
.mark-name {
    color: rgba(255, 255, 255, 1);
}
.nine-figure,
.mark-status {
    color: rgba(255, 255, 255, 0.87);
}
.mdl-card__supporting-text {
    color: rgba(0, 0, 0, 0.87);
}
.content-section {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.content-icon {
    height: 24px;
    width: 24px;
    /*color: rgba(33, 150, 243, 0.87);*/
    color: #1565C0;
    flex: none;
    padding-right: 10px;
}
.content {
    flex: auto;
}
.single-col {
    padding-left: 8px;
    padding-bottom: 5px;
}
.vert-spacer {
    padding-bottom: 10px;
}
.mdl-card__actions {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.button-section {
    padding-top: 10px;
    padding-bottom: 10px;
    float: right;
}
.smes-button {
    color: #1565C0;
}

/* About box */

.screen-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}
.about-box {
    min-height: 250px;
    max-height: 450px;
    min-width: 450px;
    top: calc(50% - 225px);
    left: calc(50% - 225px);
}
.about-title {
    padding-top: 25px;
    padding-bottom: 25px;
}
.about-content-header {
    color: #1565C0;
}
.about-text {
    text-overflow: ellipsis;
    overflow-y: scroll;
}
.about-actions {
    flex: auto;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.about-button {
    right: 0;
    flex: none;
    width: 100px;
}
.horiz-spacer {
    height: 24px;
    width: 24px;
    flex: none;
}
