html,
body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}
.title-text {
    font-family: "Muli";
}
.mdl-layout__drawer-button {
    color: rgba(255, 255, 255, 0);
}
.search-box {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}
.loader {
    width: 100%;
}
.bufferbar {
    background-color: #f44336 !important;
    background-image: linear-gradient(to right, rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), linear-gradient(to right, rgb(83, 109, 254), rgb(83, 109, 254)) !important;
}
.progressbar {
    background-color: #f44336 !important;
}
.auxbar {
    background-color: #ffeb3b !important;
}
.controls {
    border-style: none;
    outline-style: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 42px;
    /*box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);*/
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.hidden {
    display: none;
}
#location-search {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 4px 0 0;
    text-overflow: ellipsis;
    border-style: none;
    outline-style: none;
    line-height: 40px;
    -webkit-flex: auto;
    flex: auto;
}
.not-found {
    color: rgba(180, 16, 16, 0.87);
}
.divider {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.12);
    font-weight: 800;
    padding-top: 10px;
}
.search-icon {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 18px;
}
.map-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}
.smes-map {
    height: 100vh;
    width: 100vw;
}
.button-section {
    padding-top: 10px;
    padding-bottom: 10px;
    float: right;
}
.map-center {
    position: absolute;
    top: calc((100vh / 2) - 50px);
    left: calc((100vw / 2) - 20px);
    height: 40px;
    width: 40px;
}
.zoom-in-message {
    position: absolute;
    bottom: 30px;
    left: 10px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.75);
    border: solid 1px rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(108, 107, 107, 0.7);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
}
.zoom-in-message-text {
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
}
.card-content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.card-left {
    width: 110px;
}
.card-value {
    -webkit-flex: auto;
    flex: auto;
}
.gm-style-iw {
    /*style for info-window*/
    background-color: white;
    padding: 0 0 0 0;
}
.error-message {
    position: absolute;
    top: 105px;
    left: 12px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.75);
    border: solid 1px rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(108, 107, 107, 0.7);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
.error-message-text {
    font-size: 12px;
    font-weight: 400;
    color: rgba(193, 15, 15, 1);
}
.overlay {
    display: block;
    background: rgba(242, 245, 248, 0.5);
    border: solid 1px rgba(242, 245, 248, 0.5);
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(108, 107, 107, 0.5);
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}
.overlay-text {
    color: rgba(0, 0, 0, 0.95);
    text-align: center;
    z-index: 1;
}
.location {
    position: absolute;
    background: rgba(242, 245, 248, 0.8);
    border: solid 1px rgba(242, 245, 248, 0.7);
    border-radius: 1px;
    box-shadow: 1px 1px 2px rgba(108, 107, 107, 0.7);
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    height: 40px;
    width: 40px;
    top: 10px;
    right: 10px;
    color: rgba(0, 0, 0, 0.95);
}
.info-window-header {
    color: rgb(2, 119, 189);
    padding-top: 10px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    min-width: 400px;
}
.section__circle-container {
    width: 72px;
    height: 72px;
    right: 0;
    flex: none;
}
.section__circle-container > .section__circle-container__circle {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    margin: 0;
    position: absolute;
    z-index: 200;
}
.info-symbol {
    padding-top: 14px;
    padding-bottom: 10px;
    padding-left: 15px;
    height: 34px;
    width: 34px;
    z-index: 200;
    position: absolute;
}
.section__circle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 0;
    flex-shrink: 1;
    margin-right: 24px;
}
.section__text {
    -webkit-flex: auto;
    flex: auto;
    padding-top: 8px;
}
.section__text h5 {
    font-size: inherit;
    margin: 0;
    margin-bottom: 0.5em;
}
.symbol-name {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.mark-name {
    font-family: "Muli";
    /*font-size: 1.25em;*/
    padding-left: 10px;
    -webkit-flex: auto;
    flex: auto;
}
.nine-figure,
.mark-status {
    padding-left: 10px;
    -webkit-flex: auto;
    flex: auto;
}
.single-col {
    padding-left: 8px;
    padding-bottom: 5px;
}
.card-symbol {
    background-color: rgb(179, 229, 252);
}
.smes-button {
    color: rgb(3, 169, 244);
}
.smes-button.mdl-button--raised {
    background-color: rgba(158, 158, 158, 0.05);
}
